{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add User</legend>
				<div>{{ form.username|as_crispy_field }}</div>
				<div>{{ form.email|as_crispy_field }}</div>
				<div class="row">
					<div class="col-6">{{ form.gender|as_crispy_field }}</div>
					<!-- <div class="col-6">{{ form.user_type }}</div> -->
				</div>
				<div class="row">
					<div class="col-6">{{ form.first_name|as_crispy_field }}</div>
					<div class="col-6">{{ form.last_name|as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-6">{{ form.password1|as_crispy_field }}</div>
					<div class="col-6">{{ form.password2|as_crispy_field }}</div>
				</div>				

			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<!-- <small class="text-muted">
				Already Have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
			</small> -->
		</div>
	</div>
{% endblock content %}